<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ecsoya.sword.tranx.mapper.TranxSymbolMapper">
    
    <resultMap type="com.github.ecsoya.sword.tranx.domain.TranxSymbol" id="TranxSymbolResult">
        <result property="id"    column="id"    />
        <result property="key"    column="key"    />
        <result property="symbol"    column="symbol"    />
        <result property="address"    column="address"    />
        <result property="token"    column="token"    />
        <result property="decimals"    column="decimals"    />
        <result property="blockNumber"    column="block_number"    />
        <result property="confirms"    column="confirms"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTranxSymbolVo">
        select a.id, a.key, a.symbol, a.address, a.token, a.decimals, a.block_number, a.confirms, a.status, a.create_time, a.update_time, a.remark 
    
    </sql>
    
    <sql id="selectTranxSymbolJoins">
	
	</sql>

    <select id="selectTranxSymbolList" parameterType="com.github.ecsoya.sword.tranx.domain.TranxSymbol" resultMap="TranxSymbolResult">
        <include refid="selectTranxSymbolVo"/>
        from tx_tranx_symbol a
        <include refid="selectTranxSymbolJoins"/>
        <where>  
            <if test="key != null  and key != ''"> and a.key = #{key}</if>
            <if test="symbol != null  and symbol != ''"> and a.symbol = #{symbol}</if>
            <if test="address != null  and address != ''"> and a.address = #{address}</if>
            <if test="token != null  and token != ''"> and a.token = #{token}</if>
            <if test="decimals != null "> and a.decimals = #{decimals}</if>
            <if test="blockNumber != null "> and a.block_number = #{blockNumber}</if>
            <if test="confirms != null "> and a.confirms = #{confirms}</if>
            <if test="status != null "> and a.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTranxSymbolById" parameterType="Long" resultMap="TranxSymbolResult">
        <include refid="selectTranxSymbolVo"/>
        from tx_tranx_symbol a
        <include refid="selectTranxSymbolJoins"/>
        where id = #{id}
    </select>

    <select id="selectTranxSymbolByKey" parameterType="String" resultMap="TranxSymbolResult">
        <include refid="selectTranxSymbolVo"/>
        from tx_tranx_symbol a
        <include refid="selectTranxSymbolJoins"/>
        where key = #{key} limit 1
    </select>
        
    <insert id="insertTranxSymbol" parameterType="com.github.ecsoya.sword.tranx.domain.TranxSymbol">
        insert into tx_tranx_symbol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">key,</if>
            <if test="symbol != null and symbol != ''">symbol,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="token != null">token,</if>
            <if test="decimals != null">decimals,</if>
            <if test="blockNumber != null">block_number,</if>
            <if test="confirms != null">confirms,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">#{key},</if>
            <if test="symbol != null and symbol != ''">#{symbol},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="token != null">#{token},</if>
            <if test="decimals != null">#{decimals},</if>
            <if test="blockNumber != null">#{blockNumber},</if>
            <if test="confirms != null">#{confirms},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTranxSymbol" parameterType="com.github.ecsoya.sword.tranx.domain.TranxSymbol">
        update tx_tranx_symbol
        <trim prefix="SET" suffixOverrides=",">
            <if test="key != null">key = #{key},</if>
            <if test="symbol != null and symbol != ''">symbol = #{symbol},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="token != null">token = #{token},</if>
            <if test="decimals != null">decimals = #{decimals},</if>
            <if test="blockNumber != null">block_number = #{blockNumber},</if>
            <if test="confirms != null">confirms = #{confirms},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTranxSymbolById" parameterType="Long">
        delete from tx_tranx_symbol where id = #{id}
    </delete>

    <delete id="deleteTranxSymbolByIds" parameterType="String">
        delete from tx_tranx_symbol where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>