<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ecsoya.sword.tranx.mapper.TranxTronscanMapper">
    
    <resultMap type="com.github.ecsoya.sword.tranx.domain.TranxTronscan" id="TranxTronscanResult">
        <result property="hash"    column="hash"    />
        <result property="block"    column="block"    />
        <result property="timestamp"    column="timestamp"    />
        <result property="ownerAddress"    column="owner_address"    />
        <result property="toAddress"    column="to_address"    />
        <result property="amount"    column="amount"    />
        <result property="fee"    column="fee"    />
        <result property="tokenType"    column="token_type"    />
        <result property="token"    column="token"    />
        <result property="symbol"    column="symbol"    />
        <result property="decimals"    column="decimals"    />
    </resultMap>

    <sql id="selectTranxTronscanVo">
        select a.hash, a.block, a.timestamp, a.owner_address, a.to_address, a.amount, a.fee, a.token_type, a.token, a.symbol, a.decimals 
    
    </sql>
    
    <sql id="selectTranxTronscanJoins">
	
	</sql>

    <select id="selectTranxTronscanList" parameterType="com.github.ecsoya.sword.tranx.domain.TranxTronscan" resultMap="TranxTronscanResult">
        <include refid="selectTranxTronscanVo"/>
        from tx_tranx_tronscan a
        <include refid="selectTranxTronscanJoins"/>
        <where>  
            <if test="block != null "> and a.block = #{block}</if>
            <if test="timestamp != null "> and a.timestamp = #{timestamp}</if>
            <if test="ownerAddress != null  and ownerAddress != ''"> and a.owner_address = #{ownerAddress}</if>
            <if test="toAddress != null  and toAddress != ''"> and a.to_address = #{toAddress}</if>
            <if test="amount != null "> and a.amount = #{amount}</if>
            <if test="fee != null "> and a.fee = #{fee}</if>
            <if test="tokenType != null  and tokenType != ''"> and a.token_type = #{tokenType}</if>
            <if test="token != null  and token != ''"> and a.token = #{token}</if>
            <if test="symbol != null  and symbol != ''"> and a.symbol = #{symbol}</if>
            <if test="decimals != null "> and a.decimals = #{decimals}</if>
        </where>
    </select>
    
    <select id="selectTranxTronscanById" parameterType="String" resultMap="TranxTronscanResult">
        <include refid="selectTranxTronscanVo"/>
        from tx_tranx_tronscan a
        <include refid="selectTranxTronscanJoins"/>
        where hash = #{hash}
    </select>
        
    <insert id="insertTranxTronscan" parameterType="com.github.ecsoya.sword.tranx.domain.TranxTronscan">
        insert into tx_tranx_tronscan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hash != null">hash,</if>
            <if test="block != null">block,</if>
            <if test="timestamp != null">timestamp,</if>
            <if test="ownerAddress != null">owner_address,</if>
            <if test="toAddress != null">to_address,</if>
            <if test="amount != null">amount,</if>
            <if test="fee != null">fee,</if>
            <if test="tokenType != null">token_type,</if>
            <if test="token != null">token,</if>
            <if test="symbol != null">symbol,</if>
            <if test="decimals != null">decimals,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hash != null">#{hash},</if>
            <if test="block != null">#{block},</if>
            <if test="timestamp != null">#{timestamp},</if>
            <if test="ownerAddress != null">#{ownerAddress},</if>
            <if test="toAddress != null">#{toAddress},</if>
            <if test="amount != null">#{amount},</if>
            <if test="fee != null">#{fee},</if>
            <if test="tokenType != null">#{tokenType},</if>
            <if test="token != null">#{token},</if>
            <if test="symbol != null">#{symbol},</if>
            <if test="decimals != null">#{decimals},</if>
         </trim>
         on duplicate key update
         <trim prefix="" suffixOverrides=",">
            <if test="block != null">block = #{block},</if>
            <if test="timestamp != null">timestamp = #{timestamp},</if>
            <if test="ownerAddress != null">owner_address = #{ownerAddress},</if>
            <if test="toAddress != null">to_address = #{toAddress},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="tokenType != null">token_type = #{tokenType},</if>
            <if test="token != null">token = #{token},</if>
            <if test="symbol != null">symbol = #{symbol},</if>
            <if test="decimals != null">decimals = #{decimals},</if>
        </trim>
    </insert>

    <update id="updateTranxTronscan" parameterType="com.github.ecsoya.sword.tranx.domain.TranxTronscan">
        update tx_tranx_tronscan
        <trim prefix="SET" suffixOverrides=",">
            <if test="block != null">block = #{block},</if>
            <if test="timestamp != null">timestamp = #{timestamp},</if>
            <if test="ownerAddress != null">owner_address = #{ownerAddress},</if>
            <if test="toAddress != null">to_address = #{toAddress},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="tokenType != null">token_type = #{tokenType},</if>
            <if test="token != null">token = #{token},</if>
            <if test="symbol != null">symbol = #{symbol},</if>
            <if test="decimals != null">decimals = #{decimals},</if>
        </trim>
        where hash = #{hash}
    </update>

    <delete id="deleteTranxTronscanById" parameterType="String">
        delete from tx_tranx_tronscan where hash = #{hash}
    </delete>

    <delete id="deleteTranxTronscanByIds" parameterType="String">
        delete from tx_tranx_tronscan where hash in 
        <foreach item="hash" collection="array" open="(" separator="," close=")">
            #{hash}
        </foreach>
    </delete>

</mapper>